aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
audioop-lts==0.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
discord==2.3.2
discord.py==2.6.3
dotenv==0.9.9
frozenlist==1.5.0
idna==3.10
iniconfig==2.0.0
multidict==6.1.0
oauthlib==3.2.2
osrparse==6.0.2
ossapi==5.1.1
packaging==24.2
pluggy==1.5.0
propcache==0.2.1
pytest==8.3.4
python-dotenv==1.0.1
reactionmenu==3.1.7
requests==2.32.3
requests-oauthlib==2.0.0
typing-utils==0.1.0
urllib3==2.3.0
yarl==1.18.3
